.items{
    width: 300px;
    background: var(--white);
    margin: 20px;
    border: 1px solid var(--black);
}

.container img{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--black);
}

.btn{
    margin: 15px 0;
    padding: 10px 20px;
}

.items > img {
	max-height: 370px;
	user-select: none;
}

.items > .geobin-img {
	margin: 0;
	width: 97.6%;
}

h2 {
	text-align: center;
	margin: 50px 0;
    color: var(--black);
}

.footer {
	    margin-top: 100px !important;
}