.hero{
    width: 100%;
    height: fit-content;
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
    background-image: linear-gradient(330deg, rgba(225, 225, 225, 0.05) 0%, rgba(225, 225, 225, 0.05) 33.333%,rgba(114, 114, 114, 0.05) 33.333%, rgba(114, 114, 114, 0.05) 66.666%,rgba(52, 52, 52, 0.05) 66.666%, rgba(52, 52, 52, 0.05) 99.999%),linear-gradient(66deg, rgba(181, 181, 181, 0.05) 0%, rgba(181, 181, 181, 0.05) 33.333%,rgba(27, 27, 27, 0.05) 33.333%, rgba(27, 27, 27, 0.05) 66.666%,rgba(251, 251, 251, 0.05) 66.666%, rgba(251, 251, 251, 0.05) 99.999%),linear-gradient(225deg, rgba(98, 98, 98, 0.05) 0%, rgba(98, 98, 98, 0.05) 33.333%,rgba(222, 222, 222, 0.05) 33.333%, rgba(222, 222, 222, 0.05) 66.666%,rgba(228, 228, 228, 0.05) 66.666%, rgba(228, 228, 228, 0.05) 99.999%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

.intro{
    padding: 20px;
    color: var(--green);
}

.hero img{
    height: 40vh;
    padding: 20px 10px;
}

.hero p{
    width: 100%;
    padding: 20px 0;
    color: var(--white);
}

button {
    cursor: pointer;
    margin-top: 20px;
    background-color: #DBF2E5;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 3.5px 3.5px #9AC6AD;
    font-size: 1.2em;
    color: var(--black);
}

button:hover {
    background-color: #6df37f;
    box-shadow: 3.5px 3.5px #2fa33e;
}

button:focus{
    outline: transparent;
    box-shadow: 3px 3px #1e5a26;
}

.imgWrap {
	width: 100%;
	color: var(--white);
}

.videos{
    width: 100%;
    padding-bottom: 30px;
}

.iframe {
    width: 100%;
    max-width: 400px;
    margin: 10px 1%;
}

.features, .about {
	margin: 70px 0;
	color: var(--black);
}

h3 {
	text-align: center;
	border: 1px solid var(--black);
	padding: 5px 30px;
	margin: 20px 0;
    background: var(--green);
    color: var(--black);
}

.box{
    max-width: 300px;
	border: 1.5px solid var(--black);
	padding: 6px;
	border-radius: 1px;
    margin: 10px;
    min-height: 120px;
    background: var(--white);
}

@media only screen and (min-width: 900px) {
    .hero p{
        max-width: 40vh;
    }
}
