<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Compostera | indoort</title>
	<link rel="stylesheet" href="static/global.css" type="text/css" />
	<link rel="stylesheet" href="static/composters.css" type="text/css" />
    
</head>

<body>
	<header>
		<a class="logo" href="/"><img src="/img/logo.png" alt="logo"></a>
		<nav class="navbar" id="topnav">
			<a href="/cam">Compost Cam</a>
			<a href="/temp">Thermometer</a>
			<div class="dropdown">
				<button class="dropbtn">Composters</button>
	   		<div class="dropdown-content">
      	 <a href="/outdoor">Outdoor</a>
      	 <a href="/indoor">Indoor</a>
  	  	</div>
    	</div>
			<a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
  	    </nav>
    </header>

        <h2>Indoor Composters</h2>
		<div class="container i">
			<div class="items c">
				<img src="/img/indoor/3.png" alt="bamboozleComposter">
				<h4>Bamboozle Food Composter</h4>
				<a class="btn" href="https://www.amazon.com/dp/B01M8J73BF?ots=1&slotNum=10&imprToken=4cbbba0e-2c05-4017-c98&ascsubtag=[]st[p]cjiyy04ux002ccly637t14dxe[i]6HbAFM[t]w[r]google.com[d]D[z]m&tag=thestrategistsite-20" target="_blank">Shop Now</a>
			</div>
			<div class="items c">
				<img src="/img/indoor/1.png" alt="hotFrogLivingComposter">
				<h4>Hot Frog Living Composter</h4>
				<a href="https://www.walmart.com/ip/Hot-Frog-Living-Composter/922681142?irgwc=1&sourceid=imp_R5k00J3C%3AxyLWyxwUx0Mo3YoUkEWSU0532fP2U0&veh=aff&wmlspartner=imp_1141873" class="btn" target="_blank">Shop Now</a>
            </div>
			<div class="items c">
				<img src="/img/indoor/2.png" alt="scdProbioticsKit">
				<h4> SCD Probiotics All Seasons Indoor Composter Kit With Bokashi</h4>
				<a href="https://www.amazon.com/dp/B003ANMBKQ?ots=1&slotNum=17&imprToken=4cbbba0e-2c05-4017-c98&ascsubtag=[]st[p]cjiyy04ux002ccly637t14dxe[i]eyAwOB[t]w[r]google" class="btn" target="_blank">Shop Now</a>
			</div>
			<div class="items c">
				<img src="/img/indoor/4.png" alt="oxoGoodGrips">
				<h4>OXO Good Grips Easy Clean <br> Compost Bin, Charcoal</h4>
				<a href="Id=10030920&country=US&currency=USD&utm_source=Linkshare&utm_medium=Affiliate&utm_campaign=Linkshare_Affiliate&cid=af:gen&ranMID=37353&ranEAID=OHlcvPYhHQM&ranSiteID=OHlcvPYhHQM-pgzKc6pdO1T0GRV6t3ctTQ" class="btn" target="_blank">Shop Now</a>
            </div>
		</div>
	</body>
</html>