<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Compostera | indoort</title>
	<link rel="stylesheet" href="static/global.css" type="text/css" />
	<link rel="stylesheet" href="static/composters.css" type="text/css" />
    <script src="https://kit.fontawesome.com/43c1b0f304.js" crossOrigin="anonymous"></script>
</head>

<body>
	<header>
		<a class="logo" href="/"><img src="/img/logo.png" alt="logo"></a>
		<nav class="navbar" id="topnav">
			<a href="/cam">Compost Cam</a>
			<a href="/temp">Thermometer</a>
			<div class="dropdown">
				<button class="dropbtn">Composters</button>
	   		<div class="dropdown-content">
      	 <a href="/outdoor">Outdoor</a>
      	 <a href="/indoor">Indoor</a>
  	  	</div>
    	</div>
			<a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
  	    </nav>
    </header>

        <h2>Indoor Composters</h2>
		<div class="container i">
			<div class="items c">
				<img src="/img/indoor/3.png" alt="bamboozleComposter">
				<h4>Bamboozle Food Composter</h4>
				<a class="btn" href="https://www.amazon.com/dp/B01M8J73BF?ots=1&slotNum=10&imprToken=4cbbba0e-2c05-4017-c98&ascsubtag=[]st[p]cjiyy04ux002ccly637t14dxe[i]6HbAFM[t]w[r]google.com[d]D[z]m&tag=thestrategistsite-20" target="_blank">Shop Now</a>
			</div>
			<div class="items c">
				<img src="/img/indoor/1.png" alt="hotFrogLivingComposter">
				<h4>Hot Frog Living Composter</h4>
				<a href="https://www.walmart.com/ip/Hot-Frog-Living-Composter/922681142?irgwc=1&sourceid=imp_R5k00J3C%3AxyLWyxwUx0Mo3YoUkEWSU0532fP2U0&veh=aff&wmlspartner=imp_1141873" class="btn" target="_blank">Shop Now</a>
            </div>
			<div class="items c">
				<img src="/img/indoor/2.png" alt="scdProbioticsKit">
				<h4> SCD Probiotics All Seasons Indoor Composter Kit With Bokashi</h4>
				<a href="https://www.amazon.com/dp/B003ANMBKQ?ots=1&slotNum=17&imprToken=4cbbba0e-2c05-4017-c98&ascsubtag=[]st[p]cjiyy04ux002ccly637t14dxe[i]eyAwOB[t]w[r]google" class="btn" target="_blank">Shop Now</a>
			</div>
			<div class="items c">
				<img src="/img/indoor/4.png" alt="oxoGoodGrips">
				<h4>OXO Good Grips Easy Clean <br> Compost Bin, Charcoal</h4>
				<a href="Id=10030920&country=US&currency=USD&utm_source=Linkshare&utm_medium=Affiliate&utm_campaign=Linkshare_Affiliate&cid=af:gen&ranMID=37353&ranEAID=OHlcvPYhHQM&ranSiteID=OHlcvPYhHQM-pgzKc6pdO1T0GRV6t3ctTQ" class="btn" target="_blank">Shop Now</a>
            </div>
		</div>
		
        <div class="footer">
            <div class="socials">
				<div class="icons">
					<h3>Follow us on</h3>
					<i class="fab fa-github"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-instagram"></i>
				</div>
				
				<div class="copyright">&#xA9; Compostera 2021</div>
			</div>

			<div class="links">
				<ul><h3>Shopping</h3>
					<li><a href="https://www.homebase.co.uk/our-range/garden-and-outdoor/lawn-and-plant-care/compost-and-soil">HomeBase</a></li>
					<li><a href="https://www.wilko.com/en-uk/garden-outdoor-living/planting-growing/compost/c/82">Wilko</a></li>
					<li><a href="https://learn.eartheasy.com/guides/composting/">EarthEasy</a></li>
					<li><a href="https://www.yougarden.com/cat-com/compost.htm">YouGarden</a></li>
					<li><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjv3Nm3kNjuAhXS7e0KHbV2AJwYABAdGgJkZw&ae=2&ohost=www.google.com&cid=CAESQeD2yKoykiZgXlS0yE9T3UkLmhFT4PbBVml4aGIN8UstLZf--eUL_oco4_FCuoqvF7CZ7rMKB5gaTY2KteO6rydj&sig=AOD64_1Ki_9_utfwTuOlycOW7S1GPNrT_A&q&adurl&ved=2ahUKEwjY0dK3kNjuAhWhoFwKHbrDBeoQ0Qx6BAgfEAE&dct=1">Beaver Compost</a></li>
				</ul>
				<ul><h3>Resources</h3>
					<li><a href="https://bonnieplants.com/gardening/what-is-compost/">BonniePlants</a></li>
					<li><a href="https://en.wikipedia.org/wiki/Compost">WikipediA</a></li>
					<li><a href="https://www.greenmatters.com/food/2018/12/07/ZboPlt/what-is-composting">GreenMatters</a></li>
					<li><a href="https://www.quickcrop.co.uk/blog/what-is-compost/">QuickCrop</a></li>
					<li><a href="http://commongroundcompost.com/what-is-compost/">CommonGroundCompost</a></li>
				</ul>
            </div>
        </div>
	</body>
</html>