<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Compostera | Outdoor</title>
	<link rel="stylesheet" href="static/global.css" type="text/css" />
	<link rel="stylesheet" href="static/composters.css">
    <script src="https://kit.fontawesome.com/43c1b0f304.js" crossOrigin="anonymous"></script>
</head>

<body>
	<header>
		<a class="logo" href="/"><img src="/img/logo.png" alt="logo"></a>
                <nav class="navbar" id="topnav">
                    <a href="/cam">Compost Cam</a>
                    <a href="/temp">Thermometer</a>
                    <div class="dropdown">
                        <button class="dropbtn">Composters</button>
                    <div class="dropdown-content">
                <a href="/outdoor">Outdoor</a>
                <a href="/indoor">Indoor</a>
                </div>
                </div>
                    <a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
            </nav>
        </header>

        <h2>Outdoor Composters</h2>
		<div class="container i">
            <div class="items c">
            <img src="img/outdoor/1.png" alt="image" class="image-logo">
			<h4>Thred Up</h4>
            <a class="btn" href="https://www.thredup.com/">Shop Now</a>
            </div> 

            <div class="items c">     
            <img src="img/outdoor/2.png" alt="" class="image-logo">
            <h4>Pela Case</h4>
            <a class="btn" href="https://pelacase.com/">Shop Now</a>
            </div>

            <div class="items c">
            <img src="img/outdoor/3.png" alt="accompany" class="accompany-img image-logo">
            <h4>Accompany</h4>
            <a class="btn" href="https://www.accompanyus.com/">Shop Now</a>
            </div>

			<div class="items c">
				<img src="/img/outdoor/4.png" alt="geobinCompostBin" class="geobin-img image-logo">
				<h4>GEOBIN 216 Gal. Compost Bin</h4>
				<a href="https://www.homedepot.com/p/GEOBIN-216-Gal-Compost-Bin-G0955S00/310161231?irgwc=1&cm_mmc=afl-ir-196318-456723-&clickid=1rDXZlTzmxyOUOEwUx0Mo3YQUkiR-q30wx2wSM0&irgwc=1&cm_mmc=afl-ir-196318-456723-&clickid=S9N2KI3s2xyLWyxwUx0Mo3YoUkEWSnxZ32fP2U0" class="btn" target="_blank">Shop Now</a>
        </div>

         <!-- footer -->
		<div class="footer">
            <div class="socials">
				<div class="icons">
					<h3>Follow us on</h3>
					<i class="fab fa-github"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-instagram"></i>
				</div>
				
				<div class="copyright">&#xA9; Compostera 2021</div>
			</div>

			<div class="links">
				<ul><h3>Shopping</h3>
					<li><a href="https://www.homebase.co.uk/our-range/garden-and-outdoor/lawn-and-plant-care/compost-and-soil">HomeBase</a></li>
					<li><a href="https://www.wilko.com/en-uk/garden-outdoor-living/planting-growing/compost/c/82">Wilko</a></li>
					<li><a href="https://learn.eartheasy.com/guides/composting/">EarthEasy</a></li>
					<li><a href="https://www.yougarden.com/cat-com/compost.htm">YouGarden</a></li>
					<li><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjv3Nm3kNjuAhXS7e0KHbV2AJwYABAdGgJkZw&ae=2&ohost=www.google.com&cid=CAESQeD2yKoykiZgXlS0yE9T3UkLmhFT4PbBVml4aGIN8UstLZf--eUL_oco4_FCuoqvF7CZ7rMKB5gaTY2KteO6rydj&sig=AOD64_1Ki_9_utfwTuOlycOW7S1GPNrT_A&q&adurl&ved=2ahUKEwjY0dK3kNjuAhWhoFwKHbrDBeoQ0Qx6BAgfEAE&dct=1">Beaver Compost</a></li>
				</ul>
				<ul><h3>Resources</h3>
					<li><a href="https://bonnieplants.com/gardening/what-is-compost/">BonniePlants</a></li>
					<li><a href="https://en.wikipedia.org/wiki/Compost">WikipediA</a></li>
					<li><a href="https://www.greenmatters.com/food/2018/12/07/ZboPlt/what-is-composting">GreenMatters</a></li>
					<li><a href="https://www.quickcrop.co.uk/blog/what-is-compost/">QuickCrop</a></li>
					<li><a href="http://commongroundcompost.com/what-is-compost/">CommonGroundCompost</a></li>
				</ul>
            </div>
        </div>
	</body>
</html>