<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Compostera | Outdoor</title>
	<link rel="stylesheet" href="static/global.css" type="text/css" />
	<link rel="stylesheet" href="static/composters.css">
</head>

<body>
	<header>
		<a class="logo" href="/"><img src="/img/logo.png" alt="logo"></a>
                <nav class="navbar" id="topnav">
                    <a href="/cam">Compost Cam</a>
                    <a href="/temp">Thermometer</a>
                    <div class="dropdown">
                        <button class="dropbtn">Composters</button>
                    <div class="dropdown-content">
                <a href="/outdoor">Outdoor</a>
                <a href="/indoor">Indoor</a>
                </div>
                </div>
                    <a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
            </nav>
        </header>


		<div class="container i">
            <div class="items c">
            <img src="img/outdoor/1.png" alt="image" class="image-logo">
			<h4>Thred Up</h4>
            <a class="btn" href="https://www.thredup.com/">Shop Now</a>
            </div> 

            <div class="items c">     
            <img src="img/outdoor/2.png" alt="" class="image-logo">
            <h4>Pela Case</h4>
            <a class="btn" href="https://pelacase.com/">Shop Now</a>
            </div>

            <div class="items c">
            <img src="img/outdoor/3.png" alt="accompany" class="accompany-img image-logo">
            <h4>Accompany</h4>
            <a class="btn" href="https://www.accompanyus.com/">Shop Now</a>
            </div>
						<div class="items c">
							<img src="/img/outdoor/4.png" alt="geobinCompostBin" class="geobin-img image-logo">
							<h4>GEOBIN 216 Gal. Compost Bin</h4>
							<a href="https://www.homedepot.com/p/GEOBIN-216-Gal-Compost-Bin-G0955S00/310161231?irgwc=1&cm_mmc=afl-ir-196318-456723-&clickid=1rDXZlTzmxyOUOEwUx0Mo3YQUkiR-q30wx2wSM0&irgwc=1&cm_mmc=afl-ir-196318-456723-&clickid=S9N2KI3s2xyLWyxwUx0Mo3YoUkEWSnxZ32fP2U0" class="btn" target="_blank">Shop Now</a>
        </div>
	</body>
</html>