<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Compostera | Outdoor</title>
		<link rel="stylesheet" href="static/global.css" type="text/css" />
    <link rel="stylesheet" href="static/composters.css">
	</head>
	<body>
        <header>
            <a class="logo" href="/"><img src="/img/logo.png" alt="logo"></a>
                <nav class="navbar" id="topnav">
                    <a href="/cam">Compost Cam</a>
                    <a href="/temp">Thermometer</a>
                    <div class="dropdown">
                        <button class="dropbtn">Composters</button>
                    <div class="dropdown-content">
                <a href="/outdoor">Outdoor</a>
                <a href="/indoor">Indoor</a>
                </div>
                </div>
                    <a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
            </nav>
        </header>
				<div class="container">
             <div class="flexbox-container-1">
            <div class="flexbox-item1 flexbox-item-1">
                    <div class="img1">
                        <img src="img/outdoor/1.png" alt="" class="image-logo">
                    </div>
                            <div class="text">
                                <strong>Thred Up</strong>
                            </div>
                        <a class="btn" href="https://www.thredup.com/">Shop Now</a>
                </div> 
                  
            <div class="flexbox-item1 flexbox-item-2">
                    <div class="img1">
                        <img src="clothes_img/Pela-case.jpg" alt="" class="image-logo">
                    </div>
                            <strong>Pela Case</strong>
                    <a class="btn" href="https://pelacase.com/">Shop Now</a>
            </div>

            <div class="flexbox-item1 flexbox-item-3">
                <div class="img1">
                    <img src="clothes_img/Accompany.JPG" alt="" class="accompany-img image-logo">
                </div>
                <strong>Accompany</strong>
                  <a class="btn" href="https://www.accompanyus.com/">Shop Now</a>
            </div>
        </div>
				</div>
	</body>
</html>