<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Compostera | Thermometre</title>
		<link rel="stylesheet" href="static/global.css" type="text/css" />
	</head>
	<body>
        <header>
            <a class="logo" href="/"><img src="/img/logo.png" alt="logo"></a>
                <nav class="navbar" id="topnav">
                    <a href="/cam">Compost Cam</a>
                    <a href="/temp">Thermometer</a>
                    <div class="dropdown">
                        <button class="dropbtn">Composters</button>
                    <div class="dropdown-content">
                <a href="/outdoor">Outdoor</a>
                <a href="/indoor">Indoor</a>
                </div>
                </div>
                    <a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
            </nav>
        </header>
	</body>
</html>