<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Compostera | Thermometre</title>
		<link rel="stylesheet" href="static/global.css" type="text/css" />
		<link rel="stylesheet" href="static/temp.css" type="text/css" />
        <script src="https://kit.fontawesome.com/43c1b0f304.js" crossOrigin="anonymous"></script>
	</head>
	<body>
        <header>
            <a class="logo" href="/"><img src="/img/logo.png" alt="logo"></a>
                <nav class="navbar" id="topnav">
                    <a href="/cam">Compost Cam</a>
                    <a href="/temp">Thermometer</a>
                    <div class="dropdown">
                        <button class="dropbtn">Composters</button>
                    <div class="dropdown-content">
                <a href="/outdoor">Outdoor</a>
                <a href="/indoor">Indoor</a>
                </div>
                </div>
                    <a href="javascript:void(0);" class="icon" onclick="navbar()"><i class="fa fa-bars"></i></a>
            </nav>
        </header>
				<h2>Measure the temperture of your compost</h2>
				<div class="wrap">
    			<div class="elementOne element">
        		<div class="elementTwo element">
       		    <div class="elementThree element">
    	        <div class="elementFour element">
        	      <div class="elementFive element">
    	            14<span>.2 </span><strong>&deg;</strong>
    	          </div>
 	           </div>
 	         </div>
 	       </div>
  	  </div>
		</div>
		<div class="no">
			<h3>How it works</h3>
			<p>The optimum temperature range is 135° -160° Fahrenheit. Since few thermophilic organisms actively carry on decomposition above 160° F, it is undesirable to have temperatures above this for extended periods. Our hardware is connected to this thermometer.</p>
			<h3>Instructions</h3>
			<p> Add soil to to the containaer part of the hardware you'll see two things a light in the hardware turn up and the tempeture be shown here.</p>
		</div>
            <!-- footer -->
			<div class="footer">
            <div class="socials">
				<div class="icons">
					<h2 spam>Follow us on</h2>
					<i class="fab fa-github"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-instagram"></i>
				</div>
				
				<div class="copyright">&#xA9; Compostera 2021</div>
			</div>

			<div class="links">
				<ul><h3>Shopping</h3>
					<li><a href="https://www.homebase.co.uk/our-range/garden-and-outdoor/lawn-and-plant-care/compost-and-soil">HomeBase</a></li>
					<li><a href="https://www.wilko.com/en-uk/garden-outdoor-living/planting-growing/compost/c/82">Wilko</a></li>
					<li><a href="https://learn.eartheasy.com/guides/composting/">EarthEasy</a></li>
					<li><a href="https://www.yougarden.com/cat-com/compost.htm">YouGarden</a></li>
					<li><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjv3Nm3kNjuAhXS7e0KHbV2AJwYABAdGgJkZw&ae=2&ohost=www.google.com&cid=CAESQeD2yKoykiZgXlS0yE9T3UkLmhFT4PbBVml4aGIN8UstLZf--eUL_oco4_FCuoqvF7CZ7rMKB5gaTY2KteO6rydj&sig=AOD64_1Ki_9_utfwTuOlycOW7S1GPNrT_A&q&adurl&ved=2ahUKEwjY0dK3kNjuAhWhoFwKHbrDBeoQ0Qx6BAgfEAE&dct=1">Beaver Compost</a></li>
				</ul>
				<ul><h3>Resources</h3>
					<li><a href="https://bonnieplants.com/gardening/what-is-compost/">BonniePlants</a></li>
					<li><a href="https://en.wikipedia.org/wiki/Compost">WikipediA</a></li>
					<li><a href="https://www.greenmatters.com/food/2018/12/07/ZboPlt/what-is-composting">GreenMatters</a></li>
					<li><a href="https://www.quickcrop.co.uk/blog/what-is-compost/">QuickCrop</a></li>
					<li><a href="http://commongroundcompost.com/what-is-compost/">CommonGroundCompost</a></li>
				</ul>
            </div>
        </div>
	</body>
</html>